html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0px;
	padding: 0px;
	border: 0px;
	outline: 0px;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {

text-decoration: none;
color: #fff;

}

body {
	overflow: hidden;
	font-family: "Arial", "Verdana";
	color: #555;
}

#switcher {
	height: 59px;
	background: #222;
	border-bottom: 1px solid #333;
	z-index: 99999;
	position: fixed;
	width: 100%;
}

#theme_select {
    background: url("dropdown.png") no-repeat scroll 0 0 transparent;
    color: #555;
    display: block;
    font-size: 12px;
    line-height: 29px;
    margin-top: 9px;
    padding: 0 8px;
    position: relative;
    width: 200px;
    z-index: 400;
}

#theme_list li{
float:none;
width:100%;
}

#theme_dropdown_list {

border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
padding: 20px;

}

.center {
    margin: auto;
    padding: 0 30px;
}

.center ul li {
display: block;
float: left;
position: relative;
}

.center ul li ul {
margin: -4px 0 0;
display: none;
position: absolute;
width: 198px;
z-index: 350;
border: 1px solid #E1E1E1;
height: 319px;
overflow: auto;
border-image: initial;
}

.center ul li ul li {

background: #fff;

}

.center ul li ul li a {
display: block;
padding: 0 10px;
font-size: 12px;
overflow: hidden;
line-height: 29px;
color:#555;
}

#switcher .hovered_item{
background: #F8F8F8;
font-weight: bold;
color:#333;
}




.preview_picture {
    background: url("loading.gif") no-repeat scroll center center #F8F8F8;
    border: 1px solid #E1E1E1;
    display: none;
    height: 300px;
    left: 200px;
    margin: -5px 0 0;
    padding: 10px;
    position: absolute;
    width: 590px;
    z-index: 300;
}

.main_list{
height:59px;
position: relative;
width:100%;
}

.center li.purchase {
float:right;
padding-right:15px;
background: url("line.png") no-repeat scroll right center transparent;

}

li.purchase a {
    background: url("trolley.png") no-repeat scroll  center center transparent;
    display: block;
    height:59px;
    text-indent: -9999px;
    width: 75px;
}

.center li.remove_frame {
float:right;
margin-left:15px;
}

li.remove_frame a {

    background: url("cross.png") no-repeat scroll center center transparent;
    display: block;
    height:59px;
    text-indent: -9999px;
    width: 75px;

}

#iframe {

margin-top: 60px;
width:100%;
}

.logo{
position: relative;
top:-2px;
}

#theme_list{
margin: 6px 20px 0 20px;
}

.theme_type {
    background: none repeat scroll 0 0 #4C94D0;
    color: #FFFFFF;
    display: block;
    font-size: 10px;
    line-height: 1.5em;
    padding: 0 5px;
    position: absolute;
    right: 3px;
    text-align: center;
    top: 7px;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.highlight .theme_type {
	background-color: #d76a30;
}

#theme_list li.hidden{
	display:none;
}

#switcher .hovered_item .theme_type{
 background: none repeat scroll 0 0 #f3c23f;
 font-weight: normal;
}


/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	
	.main_list li:first-child{display:none;}
	.center {
		padding: 0 10px;
		}
	}
	
	
	
	@media only screen and (max-width: 479px) {
	#switcher .main_list>li{padding-right:0;margin-left:0;background: none;}
	.main_list #theme_list{ margin: 6px 10px 0 0px; } 
	
	}